{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'portfolio/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'portfolio/css/article.css' %}">
        <link rel="stylesheet" href="{% static 'portfolio/css/about_me.css' %}">
        <link rel="stylesheet" href="{% static 'portfolio/css/contact.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title> {% block title %} Hícaro {% endblock title %} </title>
    </head>

    <body>
        <header class="navbar">
        <ul>
            <li><a href="{% url 'about_me' %}">ABOUT ME</a></li>
            <li><a href="{% url 'contact' %}">CONTACT</a></li>
            <li><a target="_blank" href="https://drive.google.com/file/d/10PPnS398dW4Fpafsb_W5YsPkot5H7B_W/view?usp=sharing">RESUME</a></li>
        </ul>

        <div class=intro>
            <h1> {% block secondary_title %} HÍCARO {% endblock secondary_title %} </h1>
        </div>

        <hr>
        </header>

        <main>
            {% block content %}
            {% endblock content %}
        </main>

        <hr>
        <div class="socials">
            <ul>
                <li><a href="https://github.com/HicaroD"> <i class="fa fa-github" style="font-size:36px"></i> </a></li>
                <li><a href="https://www.instagram.com/hicarodm/"> <i class="fa fa-instagram" style="font-size:36px"></i> </a></li>
                <li><a href="https://twitter.com/DanrlleyHicaro"> <i class="fa fa-twitter" style="font-size:36px"></i> </a></li>
            </ul>
        </div>
    </body>
</html>
