{% extends 'articles/index.html' %}

{% block content %}
    <ul class="article-list">
        {% for article in object_list %}
        <li class="article-item">
            <div class="name">
                <h3><a href="{{ article.get_absolute_url }}">{{article.name}}</a></h3>
            </div>
            <div class="info">
                <ul class="dates">
                    <li><i class="fa-solid fa-calendar"></i><span id="created_at"> {{article.created_at|date:'D, M, y'}}</span></li>
                    <li><i class="fa-solid fa-pen"></i><span id="created_at"> {{article.updated_at|date:'D, M, y'}}</span></li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </ul>
{% endblock %}
