{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'articles/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">
    <link rel="stylesheet" href="{% static 'articles/css/404.css' %}">

    <!-- highlightjs -->
    <link id="colorscheme" rel="stylesheet" href="//unpkg.com/@highlightjs/cdn-assets@11.5.1/styles/atom-one-dark.min.css">
    <script src="//unpkg.com/@highlightjs/cdn-assets@11.5.1/highlight.min.js"></script>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/70f29d5e96.js" crossorigin="anonymous"></script>

    <title>HícaroTech</title>
</head>
<body>
    <nav class="page-intro">
        <div class="personal-intro">
            <h1 id="name"><a href="{% url 'articles' %}">Hícaro Dânrlley</a></h1>
            <ul class="description">
                <li>Software developer</li>
                <li>Comp.Sci student</li>
            </ul>
        </div>

        <ul class="links">
            <li><i class="fa-solid fa-link"></i><a href="https://websiteportfolio13.herokuapp.com/" target="_blank">Portfolio</a></li>
            <li><i class="fa-brands fa-github"></i><a href="https://github.com/HicaroD" target="_blank"> GitHub</a></li>
            <li><i class="fa-brands fa-twitter"></i><a href="https://twitter.com/DanrlleyHicaro" target="_blank"> Twitter</a></li>
        </ul>
    </nav>
    <hr style="width: 45%;">

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
