{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %} Hícaro {% endblock title %}

{% block content %}

<div class="about-me-body">
    <div class="personal-image">
        <img src="{% static 'portfolio/images/75737377.jpg' %}">
    </div>
    <p> Hello, my name is Hícaro and I am a backend software developer from Brazil looking for my first job opportunity. I'm in my first year towards a bachelor's in Computer Science at Universidade Federal de Alagoas (UFAL). </p>
    <p>I've been programming since the beginning of 2021 and building <a id="projects" href="{% url 'projects' %}">my open-source projects</a> in three different programming languages.</p>
    <p> I am very excited and motivated to learn any topic about programming and software development in general, any help or advice would be gratefully received &#128159;</p>
</div>

{% endblock content %}
