{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'portfolio/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'portfolio/css/about_me.css' %}">
        <link rel="stylesheet" href="{% static 'portfolio/css/contact.css' %}">
        <link rel="stylesheet" href="{% static 'portfolio/css/projects.css' %}">

        <!-- highlightjs -->
        <link id="colorscheme" rel="stylesheet" href="//unpkg.com/@highlightjs/cdn-assets@11.5.1/styles/atom-one-dark.min.css">
        <script src="//unpkg.com/@highlightjs/cdn-assets@11.5.1/highlight.min.js"></script>

        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/70f29d5e96.js" crossorigin="anonymous"></script>

        <title> {% block title %} Hícaro {% endblock title %} </title>
    </head>

    <body>
        <nav class="navbar">
        <ul>
            <li><a href="{% url 'about_me' %}">ABOUT ME</a></li>
            <li><a href="{% url 'articles' %}">ARTICLES</a></li>
            <li><a href="{% url 'projects' %}">PROJECTS</a></li>
            <li><a target="_blank" href="https://drive.google.com/drive/folders/1HEgd8xXOdbcE1ve6Uhzkxa3vlJ06AfjY?usp=sharing">RESUME</a></li>
        </ul>

        <div class=intro>
            <h1> {% block secondary_title %} HÍCARO {% endblock secondary_title %} </h1>
        </div>
        {% block article_info %}
        {% endblock %}

        <hr>
        </nav>

        <main>
            {% block content %}
            {% endblock content %}
        </main>

        <hr>
        <div class="socials">
            <ul>
                <li><a href="https://github.com/HicaroD"> <i class="fa fa-github" style="font-size:36px;"></i> </a></li>
                <li><a href="https://www.linkedin.com/in/hicaromiguel/"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a></li>
                <li><a href="mailto:hdanrlley1@gmail.com"><i class="fa fa-envelope" aria-hidden="true" style="font-size:36px"></i></a></li>
                <li><a href="https://twitter.com/DanrlleyHicaro"> <i class="fa fa-twitter" style="font-size:36px;"></i> </a></li>
                <li><a href="https://twitch.com/hicaro____">  <i class="fa-brands fa-twitch" style="font-size: 36px;"></i></a></li>
            </ul>
        </div>
    </body>
</html>
