{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %} Projects {% endblock %}

{% block content %}
{% for project in projects %}
<a class="project-link" href="{{ project.project_link }}">
	<div class="project">
		<div class="info">
			<h2 id="name">{{ project.title }}</h2>
			<p id="description"><i>{{ project.description }}</i></p>
		</div>
		<div class="tech-icons">
			{% for tech in project.get_technologies %}
				{% if tech == "rust" %}	
				<img src="{% static 'portfolio/images/tech_logo/rust.png' %}" alt="">
				{% endif %}	

				{% if tech == "python" %}	
				<img src="{% static 'portfolio/images/tech_logo/python.png' %}" alt="">
				{% endif %}	

				{% if tech == "go" %}	
				<img src="{% static 'portfolio/images/tech_logo/go.png' %}" alt="">
				{% endif %}	

				{% if tech == "django" %}	
				<img src="{% static 'portfolio/images/tech_logo/django.png' %}" alt="">
				{% endif %}	

				{% if tech == "postgresql" %}	
				<img src="{% static 'portfolio/images/tech_logo/postgresql.png' %}" alt="">
				{% endif %}	

				{% if tech == "bootstrap" %}	
				<img src="{% static 'portfolio/images/tech_logo/bootstrap.png' %}" alt="">
				{% endif %}	

				{% if tech == "html" %}	
				<img src="{% static 'portfolio/images/tech_logo/html.png' %}" alt="">
				{% endif %}	

				{% if tech == "css" %}	
				<img src="{% static 'portfolio/images/tech_logo/css.png' %}" alt="">
				{% endif %}	
			{% endfor %}
		</div>
	</div>
</a>

{% endfor %}
{% endblock %}
