.article-list {
    width: 45%;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
    font-family: "Metropolis";
}

.article-item {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px grey;
    padding: 10px;
}

.article-item a, .article-body a {
    text-decoration: none;
    color: #3391ff;
}

.article-item a:visited, .article-body a:visited {
    color: #3391ff;
}

.name {
    align-self: center;
    width: 70%;
}

.article {
    width: 45%;
    margin: 0 auto;
    font-family: "Metropolis";
}

.article-body img {
    width: 70%;
}

.article-body code {
    background-color: #1a1a1a;
}

#article-name {
    text-align: center;
}

.article-dates ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.article-body h2, .article-body h3 {
    border-bottom: solid 2px white;
}
