@font-face {
    font-family: "NotoSerif";
    src: url('../fonts/NotoSerifDisplay-VariableFont_wdth,wght.ttf');
}

@font-face {
    font-family: "Cinzel";
    src: url('../fonts/Cinzel-Regular.ttf');
}

@font-face {
    font-family: "Metropolis";
    src: url('../fonts/Metropolis-Medium.otf');
}

body {
    background-color: #2C3333;
    color: white;
}

.page-intro {
    display: flex;
    width: 40%;
    margin: 0 auto;
    font-family: "Cinzel";
    justify-content: space-between;
}

.page-intro a:visited {
    color: white;
}

.links {
    list-style: none;
    border-left: 1px solid;
    padding-left: 10px;
    padding: 10px;
}

.links li {
    padding: 2px;
}

.links a {
    text-decoration: none;
}

.description {
    list-style: none;
    padding-left: 0;
}

.dates li {
    padding: 5px;
}
