.personal-image img {
    border-radius: 50%;
    max-height: 110px;
}

.personal-image {
    text-align: center;
}

.about-me-body {
    display: block;
    color: white;
    font-family: "Metropolis";
    width: 45%;
    margin: 0 auto;
}

.about-me-body p {
    padding-top: 10px;
}

#projects {
    text-decoration: none;
    color: white;
    border-bottom: solid 1px #FAC000;
}
