@font-face {
    font-family: "Cinzel";
    src: url('../../fonts/Cinzel-Regular.ttf');
}

@font-face {
    font-family: "Metropolis";
    src: url('../../fonts/Metropolis-Medium.otf');
}

@font-face {
    font-family: "Fantasques";
    src: url('../../fonts/fantasquesansmono-regular.otf');
}

.page-intro {
    width: 55%;
    margin: 0 auto;
    font-family: "Cinzel";
    justify-content: space-between;
}

#my-name {
    display: inline-block;
    border-bottom: solid 2px #FFC93C;
    margin: 0;
}

.links {
    list-style: none;
    border-left: 1px solid;
    padding-left: 10px;
    padding: 10px;
}

.links li {
    padding: 2px;
}

.links a {
    text-decoration: none;
}

.dates li {
    padding: 5px;
}

body {
    background-color: #181A1B;
    color: white;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.intro {
    color: white;
    text-align: center;
}

.navbar {
    font-family: "Cinzel";
    font-weight: bold;
    width: 55%;
    margin: 0 auto;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
}

.navbar li {
    padding: 3px;
}

.navbar a {
    color: #FFC93C;
}

.navbar a:hover {
    border-bottom: 3px solid #FFC93C;
}

.navbar li {
    color: #FFC93C;
    font-size: 18px;
    margin: 10px auto;
}

.socials, .navbar ul {
    list-style-type: none;
    padding: 0px;
}

.socials li {
    display: inline-block;
    padding: 5px;
}

.socials a {
    color: #999;
}

hr {
    color: #FFC93C;
    width: 55%;
}

.socials ul {
    width: 55%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}
