* {
    font-family: Courier New,  serif;
}

body {
    background-color: #181A1B;
    text-align: center;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.navbar li {
    display: inline-block;
    color: #FFC93C;
    font-size: 18px;
    margin: 10px auto;
}

.navbar a {
    color: #FFC93C;
    padding: 10px;
}

.navbar a:hover {
    border-bottom:3px solid #FFC93C;
}

.intro {
    color: white;
}

.socials, .navbar ul {
    list-style-type: none;
    padding: 0px;
}

.socials li {
    display: inline-block;
    padding: 5px;
}

.socials a {
    color: #999;
}

hr {
    color: #FFC93C;
    width: 45%;
}

.socials ul {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}
