{% extends 'base.html' %}

{% block content %}

<div class="article">
   <h2 id="article-name">{{article.name}}</h2>

    <div class="article-dates">
        <ul>
            <li><i class="fa-solid fa-calendar"></i><span id="created_at"> {{article.created_at|date:'D, M, y'}}</span></li>
            <li><i class="fa-solid fa-pen"></i><span id="updated_at"> {{article.updated_at|date:'D, M, y'}}</span></li>
        </ul>
    </div>

    <div class="article-body">
        {% autoescape off %}
            {{object.body}}
        {% endautoescape %}
    </div>
</div>

{% endblock %}
