{% extends 'portfolio/base.html' %}
{% load markdownify %}

{% block secondary_title %} {{ article.title }} {% endblock %}

{% block article_info %}
<ul class="article-info">
    <li id="created_at"> <i class="fa fa-calendar" aria-hidden="true"></i> {{ article.created_at|date:"M, Y"}} </li>
    <li id="updated_at"> <i class="fa fa-pencil" aria-hidden="true"></i> {{ article.updated_at|date:"M, Y" }} </li>
</ul>
{% endblock %}

{% block content %}
<div class="article-body">
    {{ article.body|safe }}
</div>
{% endblock %}
